.container {
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-start;

   */

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 3px;

  background: linear-gradient(to bottom, #cfd9df, #e2ebf0);
  min-width: 600px;
  min-height: 600px;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0.4rem;
}

@media screen and (max-width: 645px) {
  .container {
    min-width: calc(100% - 1rem);
    min-height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 3px;
  }
}
