body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.range {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.range input {
  width: 400px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.buttons button {
  padding: 10px;
}

.buttons input {
  padding: 10px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
