@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.profile {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
}
.profile-img {
  margin-top: 5px;
  width: 98%;
  border-radius: 5px;
  border: 1px solid gray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 10px;
  width: 480px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 5px;
}

.skillList {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.skillList-Nested {
  padding: 10px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
