.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
}

.loader svg {
  position: absolute;
  top: 50vh;
  animation-duration: 10s;
  animation-delay: 0.01s;
  animation: anim 10s ease infinite;
  color: red;
}

.errorMassage {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMassage span {
  width: 400px;
  position: absolute;
  top: 50vh;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  flex-wrap: wrap;
  opacity: 1;
}

@keyframes anim {
  0% {
    transform: rotate(-3000deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
